html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container{
    padding: 10px;
    font-size: 25px;
    width: 100%;
    max-width: 748px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
